<nav>
	<a routerLink="/creaSegnalazione">crea una segnalazione</a>
  </nav>
<div class="warnPageHeader">
    <input type="text" [(ngModel)]="segnalazione.titolo" placeholder="titolo" style="width:70%;" /><br>
    Notificante: <input type="text" [(ngModel)]="segnalazione.notificante" placeholder="assicuratore qualità"/><br>
    Produttore: <input type="text" [(ngModel)]="segnalazione.produttore" placeholder="nome società" />
    Segnalato il: <input type="text" class="datePicker" [(ngModel)]="segnalazione.dataSegnalazioneOriginale" placeholder="data"/><br>
    Motivo del ritiro: <input type="text" [(ngModel)]="segnalazione.motivoRitiro" placeholder="" /><br>
    <hr>
    Denominazione di Vendita: <input type="text" [(ngModel)]="segnalazione.denominazioneVendita" placeholder="prodotto x" /><br>
    Codice Prodotto: <input type="text" [(ngModel)]="segnalazione.codiceProdotto" placeholder="123456" />
    Codice EAN: <input type="text" [(ngModel)]="segnalazione.codiceEAN" placeholder="123456" /><br>
    Tipo Prodotto: <p id="warnTipoProdContainer" class="selectContainer">
		<select [(ngModel)]="segnalazione.tipoProdotto">
			<option *ngFor="let prod of allProducts" [value]="prod.code">{{prod.description}}</option>
		</select>
	</p>
    Modalità di Conservazione: <input type="text" [(ngModel)]="segnalazione.modalitaConservazione" placeholder="4°C" /><br>
</div>

<div class="dynamicListContainer" >
    <hr>
    Lotti: <br>
    <ul id="rootListLotti">
		<li *ngFor="let lotto of lottiList">
			<input type="text" [(ngModel)]="lotto.code" placeholder="codice lotto" [disabled]= "!lotto.enabled" />
			<input type="text" [(ngModel)]="lotto.expiryDate" placeholder="data scadenza" [disabled]= "!lotto.enabled" />
			<button *ngIf="lotto.enabled" class="btnListAdd" (click)="onAddLotto(lotto)">+</button>
			<button *ngIf="!lotto.enabled" class="btnListRemove" (click)="onRemoveLotto(lotto)">-</button>
		</li>
	</ul>
</div>
<div class="warnTextContainer" >
    <label for="warnNotes">Note Aggiuntive:</label><br>
    <textarea name="warnNotes" [(ngModel)]="segnalazione.noteAggiuntive" id="warnNotes" cols="30" rows="10">
    </textarea>
</div>
<p class="clear"></p>
<div style="text-align:center;">
    <a class="btn btn-primary btn-large btn-block" href="#">Invia</a>
</div>

