<div class="login">
    <div class="login-screen">
        <div class="app-title">
            <h1>Login</h1>
        </div>

        <div class="login-form">
            <div class="control-group">
                <input type="text" class="login-field" value="" placeholder="username" id="login_usr">
                <label class="login-field-icon" for="login_usr"></label>
            </div>

            <div class="control-group">
                <input type="password" class="login-field" value="" placeholder="password" id="login_psw">
                <label class="login-field-icon" for="login_psw"></label>
            </div>

			<a class="btn" href="#">login</a>
			<!-- href="javascript:onLogin()"-->
		</div>

    </div>
</div>

